:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  --font-body: 'Satoshi', sans-serif;
  --font-heading: 'Satoshi', sans-serif;

  --color-dark: #1E1E1E;
  --color-light: #F7F6F3;
  --color-accent: #A6D1E6;
  --color-lavender: #CAB8FF;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: var(--color-light);
  color: var(--color-dark);
}

html {
  scroll-behavior: smooth;
}